<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Test title</title>
    <link rel="stylesheet" type="text/css" href="{{ root }}/css/custom.css">
</head>
<body>
    <header>
        <ul class="left">
            <li>
                <a href="/">
                    <span style="color: #0077b3;">Г</span>лавная
                </a>
            </li>

            <li>
                <a href="#">
                    <span style="color: #0077b3;">М</span>одули
                </a>
            </li>

            <li>
                <a href="#">
                    <span style="color: #0077b3;">Ф</span>орум
                </a>
            </li>

            <li>
                <a href="#">
                    <span style="color: #0077b3;">З</span>агрузить
                </a>
            </li>
        </ul>

        <ul class="right">
            <li>
                <a href="#">
                    <span style="color: #0077b3;">З</span>арегистрироваться
                </a>
            </li>

            <li>
                <a href="#">
                    <span style="color: #0077b3;">В</span>ойти
                </a>
            </li>
        </ul>
    </header>

    <section id="spacer"></section>

    <section id="content">
        {{ content }}
    </section>

    <footer>

    </footer>
</body>
</html>