<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Test title</title>
    <link rel="stylesheet" type="text/css" href="{{ root }}/css/custom.css">
</head>
<body>
    <header>
        <ul class="left">
            <li><a href="#">главная</a></li>
            <li><a href="#">новости</a></li>
            <li><a href="#">модули</a></li>
            <li><a href="#">форум</a></li>
            <li><a href="#">загрузить</a></li>
        </ul>

        <ul class="right">
            <li><a href="#">войти</a></li>
            <li><a href="#">зарегистрироваться</a></li>
        </ul>
    </header>

    <section id="spacer"></section>

    <section id="content">
        {{ content }}
    </section>

    <footer>

    </footer>
</body>
</html>